* {
	font-family: roboto;
}

.navbar-nav>.active>a,
.navbar-nav>.active>a:focus, 
.navbar-nav>.active>a:hover {
	background-color:  #4fbfa8;
	color:white !important;
}

.navbar-nav > li > a {
  padding-top: 30px;
  padding-bottom: 30px;
  text-transform: uppercase;
  color: black !important;
}

.navbar-nav>li>a:focus, 
.navbar-nav>li>a:hover {
	background-color:  #4fbfa8;
	color:white !important;
}

.navbar {
	margin-bottom: 0 !important;
	border: none;
}

.navbar-header .icon-bar {
	background-color: #4fbfa8;
}

.navbar-toggle {
	border-color: #4fbfa8;
	border-radius: 0;
}

.navbar-toggle{
	padding-top: 15px;
  	padding-bottom: 15px;
}


.small-nav {
	background: #555;
	padding-top:5px;
	padding-bottom: 5px;
}
.white-text p,
.list-inline {
	margin-top: 5px;
	margin-bottom: 5px;
}

.contact-icon {
	color: #4fbfa8;
	font-size: 14px;
	padding: 5px;
}

.login-icon {
	color: white;
	font-size: 14px;
	padding: 5px;
}

a.login-btn,
a.signup-btn {
	color: white;
	text-decoration: none;
	font-size: 14px;
}

.signup-btn {
	margin-right: 30px;
}

.soc-icon {
	color: silver;
	font-size: 14px;
	border-radius: 50%;
	padding: 5px;
}

.soc-icon:hover {
	color: white;
	background-color: #4fbfa8;
	border-radius: 50%;
	padding: 5px;
}


.list-inline li img {
	width: 50px;
	height: 50px;
	margin: 10px 5px;
}

.btn-modal {
	background-color: white;
	color:  #4fbfa8;
	border-radius: 0;
	border: 1px solid #4fbfa8;
	text-transform: uppercase;
}

.btn-modal:hover {
	background-color: #4fbfa8;
	color: white ;
}

.bg-light-grey {
	background: #555;
}

a.color-teal {
	color: teal;
}

a.color-teal:hover {
	text-decoration: underline;
}



.display-flex {
	display: flex;
}

.align-center {
	align-items: center;
}

.justify-between {
	justify-content: space-between;
}

.justify-end {
	justify-content: flex-end;
}





.blog-cover {
	height: 50vh;
	background-attachment: fixed;
	background-image: url("img/image1.jpg");
}

.carousel-indicators li {
	background-color: grey;
	border-color: grey;
}

.carousel-indicators .active {
	background-color: white;
	border-color: white;
}

.uppercase {
	text-transform: uppercase;
}

.link-white {
	color: white;
}

.link-white:hover {
	text-decoration: underline;
	color: white;
	cursor: pointer;
}


.white-text {
	color:white;
}

.icon {
	color: #4fbfa8;
	padding:25px;
	font-size: 20px;
	border: 1px solid #4fbfa8;
	border-radius: 50%;
}

.bg-image {
	background-image: url("img/photogrid.jpg");
	background-repeat: none;
	background-size: cover;
}


.cover-img {
	max-height: 350px;
}

.bg-teal {
	background-color: rgba(79,191,168,0.8);
}

.row-item {
	padding: 60px;

}

.row-item h1 {
	font-size: 40px;
}

.row-item p,
.row-item li {
	font-size: 20px;
}

.teal-line {
	border-top: 3px solid #4fbfa8;
	width: 50%;
}

.link-teal {
	color: #4fbfa8;
}

.link-teal:hover {
	text-decoration: none;
	color: #4fbfa8;
	cursor: pointer;
}

.margin-side {
	margin-left: 50px;
	margin-right: 50px;
}

.padding {
	padding-top:30px;
	padding-bottom: 30px;
}

.bg-see-more {
	padding-top: 60px;
	padding-bottom: 60px;
	background-attachment: fixed;
	background-image: url("img/fixed-background-2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-see-more p {
	font-size: 20px;
}

.icon-w {
	color: white;
	font-size: 25px;
	padding:20px;
	border: 1px solid white;
	border-radius: 50%;
}

.btn-transp {
	background: transparent;
	padding: 10px;
	color: white;
	letter-spacing: 4px;
	font-weight: bold;
	border: 1px solid white;
	margin-top: 25px;
}

.btn-transp:hover {
	background: white;
	padding: 10px;
	color:  #4fbfa8;
	font-weight: bold;
	letter-spacing: 4px;
	border: 1px solid white;
}


.bg-honey {
	background-image: url("img/texture-bw.png");
}

.clients-div {
	padding-top: 40px;
	padding-bottom: 40px;
}

.clients img {
	width: 100%;
	filter: grayscale(100%)
}

.hr-white {
	border-top: 1px solid white;
}

.custom-footer {
	background: #555;
	color: white;
	padding-top: 40px;
	padding-bottom: 40px;
}

.muted {
	color:silver;
}

.btn-teal {
	color: white;
	background-color: #4fbfa8;
	text-transform: uppercase;
	border: none;
	border-radius: 0;
	padding: 5px 25px;
}

.btn-form {
	border-radius: 0;
}

.btn-form:focus {
	border-color: #4fbfa8;
	outline: 2px solid #4fbfa8;
}


.bg-grey {
	background-color: #333;
}

.form-teal {
	border-radius: 0;
}

.form-teal:focus {
	border-color: #4fbfa8;
	outline: 2px solid #4fbfa8;
}

.custom-ind ul li {
	bottom:-40px;
}

.custom-ind li {
	background-color: darkgrey;
}

.custom-ind .active {
	background-color: grey;
	border-color: grey;
}

.row-carousel {
	margin-top: 20px;
}

.row-carousel .card {
  padding: 20px;
  background: #fff;
  height: 350px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.icont {
  color: #4fbfa8;
  font-size: 25px;
  align-self: center;
}

.row-carousel .text {
  font-size: 14px;
}

.row-carousel .text p {
  color: #999;
}

.row-carousel .avatar {
  min-width: 60px;
  max-width: 60px;
  min-height: 60px;
  max-height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 5px;
}

.row-carousel .bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
	text-align: right;
}

.card .text {
	text-transform: none;
}

.title h5 {
	text-transform: uppercase;
	font-weight: bold;
	color:black;
}

.bottom .title p {
	font-size: 12px;
	color: grey;
}


